.app-modal-window .modal-dialog {
  width: 90%;
}


/*Screen zooms in when a Bootstrap modal is opened on iOS 9 Safari*/
/*http://stackoverflow.com/a/32720590*/

body {
  padding-right: 0px !important
}

.modal-open {
  overflow-y: auto;
}