<!doctype html>
<html ng-app="gofangApp">
	<head>
		<meta charset="utf-8">
        <title>goFang</title>
        <link rel="stylesheet" href="vendor/bootstrap.min.css"><!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
		<link rel="stylesheet" href="vendor/ng-tags-input.min.css">
		<link rel="stylesheet" href="vendor/sticky-footer.css">
		<link rel="stylesheet" href="css/formulafinder.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
		/*.modal-body {
		    max-height: calc(100vh - 210px);
		    overflow-y: auto;
		}*/
		</style>

		
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141770634-3"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-141770634-3');
		</script>

		
	</head>

	<body ng-controller="FormulaCtrl">

		<div ng-include="'html/navibar.html'"></div>

		<div class="container-fluid" style="padding-top: 60px;">
			<div class="row" ng-show="true">
				<div class="col-sm-12">
					<h3>고방<small>(상한/금궤)</small>검색기</h3>
				</div>
			</div>
		</div>

		<div class="container-fluid" ng-show="gotData && searchTab==0">
				<div class="row" ng-show="true">
					<div class="col-sm-6" >
					<!-- 포함하는 본초 -->
						<tags-input ng-model="inHerbs" placeholder="포함하는 본초" min-length=1 display-property="herbs" on-tag-added="find()" on-tag-removed="find()">
							<auto-complete source="loadItems($query, 'herbs')" min-length=1 debounce-delay=50></auto-complete>
						</tags-input>
					<!-- 제외하는 본초 -->
						<tags-input ng-model="outHerbs" placeholder="제외하는 본초" min-length=1 display-property="herbs" on-tag-added="find()" on-tag-removed="find()">
							<auto-complete source="loadItems($query, 'herbs')" min-length=1 debounce-delay=50></auto-complete>
						</tags-input>
					</div>
					<div class="col-sm-6">
						<!-- 찾는 처방명 -->
						<tags-input ng-model="formulaName" placeholder="찾는 처방이름" min-length=2 display-property="formulas" on-tag-added="find()" on-tag-removed="find()">
							<auto-complete source="loadItems($query, 'formulas')" min-length=1 debounce-delay=50></auto-complete>
						</tags-input>
						<!-- 찾는 증상 -->
							<tags-input ng-model="inSymp" placeholder="찾는 증상" min-length=1 display-property="symptoms" on-tag-added="findHerbsymp()" on-tag-removed="findHerbsymp()">
								<auto-complete source="loadItems($query, 'symptoms')" min-length=1 debounce-delay=50></auto-complete>
							</tags-input>
							<button class="btn btn-warning" ng-repeat="symp in symptoms" ng-bind="symp"></button>
							<button class="btn btn-success" ng-repeat="hbsy in herbssymptoms" ng-click="addHerb(hbsy)" ng-bind="hbsy"></button>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<div clsss="list-group">
							<a href="" class="list-group-item" ng-class="{'active': $index===fmlIdx}" ng-repeat="formula in results" ng-click="showDetail(formula, $index)" ng-bind="formula"></a>
						</div>
						</div>
				</div>
		</div>

		<div class="container-fluid" ng-show="gotData && searchTab==1">
			<div class="row" ng-show="true">
				<div class="col-sm-12">
					<!-- 처방이름 -->
						<input class="form-control" ng-model="formulaFilter" placeholder="처방 이름"></input>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div clsss="list-group">
						<a href="" class="list-group-item" ng-class="{'active': $index===fmlIdx}" ng-repeat="formula in formulas | filter:formulaFilter" ng-click="showDetail(formula, $index)" ng-bind="formula"></a>
					</div>
					</div>
			</div>
		</div>

		<div ng-include="'html/footer.html'"></div>

<!--   script............................................................................................-->
		<script src="vendor/jquery.min.js"></script><!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
		<script src="vendor/bootstrap.min.js"></script><!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->
		<script src="vendor/angular.min.js"></script><!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>-->
		<script src="vendor/ui-bootstrap-tpls-1.3.2.min.js"></script>

		<script src="js/exArray.js"></script>
		<script src="vendor/ng-tags-input.min.js"></script>

<!--   script............................................................................................-->

		<script src="js/formulafinder.js"></script>

	</body>
</html>
